.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card__content {
  width: 100%;
  max-width: 1400px; /* Controls the max width of the slider */
  padding-bottom: 3rem;
  overflow: hidden;
}

.card__article {
  /* remove fixed width and height */
  aspect-ratio: 1 / 1; /* This makes the card a perfect square */
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image {
  position: relative;
  background-color: transparent;
  flex-grow: 1;
  overflow: hidden;
  /* Add border radius to the top corners */
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.card__data {
  background-color: hsl(212, 42%, 20%);
  padding: 1rem 1.5rem;
  /* Change this to only round the bottom corners */
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  text-align: center;
  position: relative;
  z-index: 10;
  height: 150px;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: hsl(32, 75%, 50%);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
  z-index: -1;
}

.card__name {
  font-size: 1.1rem;
  color: hsl(195, 75%, 52%);
  margin-bottom: 0.5rem;
}

.card__description {
  font-weight: 500;
  font-size: 0.9rem;
  color: hsl(212, 4%, 95%);
}

/* --- Global Swiper Styles --- */
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensures buttons are on top */
}

:global(.swiper-button-prev) {
  left: 10px;
}

:global(.swiper-button-next) {
  right: 10px;
}

:global(.swiper-pagination) {
  bottom: 0 !important;
}

:global(.swiper-pagination-bullet) {
  background-color: white !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: hsl(195, 75%, 52%) !important;
}
