html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', fantasy;
  background-image: url('/assets/animated.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #212529; /* Fallback color */
}

/* this single rule will style and center every section */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  color: white;
}
